* {
    box-sizing: border-box
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    background:  var(--bg);
    color: #e6f0f3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, input, button {
    font-family: 'Cascadia Code', ui-monospace;
}

a {
    color: var(--accent);
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--glass);;
  text-align: left;
}

thead th {
  border-bottom: 1px solid var(--accent);;
}


.container {
    max-width: 820px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 3rem;
    height: auto;
}

@media (max-width:640px) {
    .container {
        margin: 0;
        padding: 1rem
    }
}

.modal-overlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 0;
}

.modal-overlay.hidden {
    display: none;
}

:not(pre)>code[class*=language-], pre[class*=language-] {
    background-color: var(--glass);
}