* {
    box-sizing: border-box
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    background:  var(--bg);
    color: #e6f0f3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, input, button {
    font-family: "code-saver", ui-monospace;
    font-weight: 400;
}

a {
    color: var(--accent);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4, h5, h6 {
    font-size: 1.25em;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--glass);;
  text-align: left;
}

thead th {
  border-bottom: 1px solid var(--accent);;
}

.hidden {
    display:none;
}

.container {
    margin: 0 auto;
    padding: 1rem
}

@media (min-width:640px) {
    .container {
        width: 100%;
        max-width: 820px;
        padding: 2rem 1.5rem;
    }
}


.logo {
    width: 1.8rem;
    height: auto;
    cursor: pointer;
    transform: translateY(3px);
}

.app-header {
    margin-bottom: 1rem;
}

.modal-overlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 0;
}

:not(pre)>code[class*=language-], pre[class*=language-] {
    background-color: var(--glass);
}