.arrow {
    appearance: none;
    border: 0;
    background: transparent;
    color: var(--accent);
    font-size: 1.25rem;
    padding: 8px 10px;
    border-radius: 8px;
    transition: all .18s ease;
    cursor: pointer;
}

.arrow:hover {
    color: var(--accent);
    transform: translateY(-2px)
}

/* Custom checkbox */
.cb-wrap {
    display: inline-flex;
    align-items: center
}

.cb {
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: var(--glass);
    cursor: pointer;
    position: relative;
    transition: all .18s ease
}

.cb:checked {
    background: var(--accent);
    border: 0
}

.cb:checked::after {
    position: absolute;
    left: 5px;
    top: 1px;
    color: #022;
    font-weight: 700
}
