.hours {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 2rem;
}

.hour-row {
    display: grid;
    grid-template-columns: 60px 36px 1fr;
    align-items: center;
    gap: 12px;
    padding: 5px 12px;
}

.hour-time {
    color: var(--muted);
    font-size: 1rem;
    padding-left: 6px
}

/* Custom checkbox */
.hour-checkbox-wrap {
    display: inline-flex;
    align-items: center
}

.hour-checkbox {
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: var(--glass);
    cursor: pointer;
    position: relative;
    transition: all .18s ease
}

.hour-checkbox:checked {
    background: var(--accent);
    border: 0
}

.hour-checkbox:checked::after {
    position: absolute;
    left: 5px;
    top: 1px;
    color: #022;
    font-weight: 700
}


.hour-input {
    background: transparent;
    border: 0;
    padding: 8px 10px;
    color: inherit;
    outline: none;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.hour-input:hover, .hour-input:focus {
    background-color: var(--glass);
}

.hour-input:focus {
    cursor: text;
}

.highlighted .hour-time {
    color: var(--accent);
}
/* .highlighted .hour-input {
    border-bottom: dashed 1px var(--panel);
} */

.hour-input::placeholder {
    color: #6b7b80
}

.notes-input {
    background: transparent;
    border: 0;
    padding: 8px 10px;
    width: 100%;
    min-height: 100px;
    line-height: 1.5em;
    color: inherit;
    outline: none;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    resize: none;
    cursor: pointer;
}

.notes-input:hover, .notes-input:focus {
    background-color: var(--glass);
}

.notes-input:focus {
    cursor: text;
}

.notes-input.highlighted {
    background-color: var(--panel);
}

.notes-input::placeholder {
    color: #6b7b80
}

.notes-input a {
    cursor: pointer;
}

.notes-input img {
    max-width: 100%;
}

@media (max-width:640px) {
    .hour-row {
        grid-template-columns: 76px 36px 1fr
    }
}


