.hours {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 2rem;
}

.row {
    display: grid;
    grid-template-columns: 55px 36px 1fr;
    align-items: center;
    gap: 12px;
    padding: 5px 12px;
}

.time {
    color: var(--muted);
    font-size: 1rem;
    padding-left: 6px
}

.input {
    background: transparent;
    border: 0;
    padding: 8px 10px;
    color: inherit;
    outline: none;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.input:hover, .input:focus {
    background-color: var(--glass);
}

.input.highlighted {
    background-color: var(--panel);
}

.input::placeholder {
    color: #6b7b80
}

.notes-input {
    background: transparent;
    border: 0;
    padding: 8px 10px;
    width: 100%;
    height: 100px;
    color: inherit;
    outline: none;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.notes-input:hover, .notes-input:focus {
    background-color: var(--glass);
}

.notes-input.highlighted {
    background-color: var(--panel);
}

.notes-input::placeholder {
    color: #6b7b80
}

@media (max-width:640px) {
    .row {
        grid-template-columns: 76px 36px 1fr
    }
}
